<%= form_with(model: repository) do |form| %>
  <% if repository.errors.any? %>
    <div style="color: red">
     <h2><%= pluralize(repository.errors.count, "error") %> prohibited this repository from being saved:</h2>

      <ul>
        <% repository.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


   <%= form.hidden_field :source_control_type, value: 'github' %>

  <%= form.label :name, "Repository name" %>
  <%= form.text_field :name%>

  <div>
    <%= form.label :owner, "Owner:" %>
    <%= form.text_field :owner, value: 'codelittinc' %>
  </div>

 <%= form.fields_for :slack_repository_info_attributes do |f|%>
   <%= f.label :deploy_channel, "deploy channel:" %>
   <%= f.select :deploy_channel, @channels, selected: repository.slack_repository_info&.deploy_channel %>

<br>
   <%= f.label :dev_channel, "dev channel:" %>
   <%= f.select :dev_channel, @channels, selected: repository.slack_repository_info&.dev_channel %>

<br>
   <%= f.label :dev_group, "dev group:" %>
   <%= f.text_field :dev_group, value: repository.slack_repository_info&.dev_group %>

<br>

   <%= f.label :feed_channel, "feed channel:" %>
   <%= f.select :feed_channel, @channels, selected: repository.slack_repository_info&.feed_channel %>
 <% end %>

  <br>

  <div>
     <%= form.submit class: 'waves-effect waves-light btn btn-small green' %>
  </div>
<% end %>
