<%= form_with(model: repository) do |form| %>
  <% if repository.errors.any? %>
    <div style="color: red">
     <h2><%= pluralize(repository.errors.count, "error") %> prohibited this repository from being saved:</h2>

      <ul>
        <% repository.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <%= form.label :name, "Repository name" %>
  <%= form.text_field :name, disabled: true%>

  <div>
    <%= form.label :owner, "Owner:" %>
    <%= form.text_field :owner, disabled: true%>
  </div>

<div>
 <%= form.fields_for :slack_repository_info_attributes do |f|%>
   <%= f.label :deploy_channel, "deploy channel:" %>
   <%= f.text_field :deploy_channel, value: repository.slack_repository_info&.deploy_channel %>

   <%= f.label :deploy_channel, "dev channel:" %>
   <%= f.text_field :dev_channel, value: repository.slack_repository_info&.dev_channel %>

   <%= f.label :dev_group, "dev group:" %>
   <%= f.text_field :dev_group, value: repository.slack_repository_info&.dev_group %>

   <%= f.label :feed_channel, "feed channel:" %>
   <%= f.text_field :feed_channel, value: repository.slack_repository_info&.feed_channel %>
 <% end %>
</div>

  <br>

  <div>
     <%= form.submit class: 'waves-effect waves-light btn btn-small green' %>
  </div>
<% end %>
