<p style="color: green"><%= notice %></p>

<%= render @organization %>

<% if @installations.size.zero? %>
  <a href=<%= github_url(@organization)%>>
    Setup Github
  </a>
<% end %>

<% unless @installations.size.zero? %>
  <a href=<%= github_url(@organization)%>>
    Update Github
  </a>
<% end %>

<% @repositories.each do |repository|%>
  <span><%= "#{repository.owner}  -  #{repository.name}" %></span>
<% end%>


<div>
  <%= link_to "Edit this organization", edit_organization_path(@organization) %> |
  <%= link_to "Back to organizations", organizations_path %>

  <%= button_to "Destroy this organization", @organization, method: :delete %>
</div>
