<!DOCTYPE html>
<html>
  <head>
    <title>RoadrunnerNew</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script>
    </script>

  </head>

  <body>
     <nav>
       <div class="nav-wrapper">
         <a href="#" class="brand-logo">Roadrunner</a>
         <ul id="nav-mobile" class="right hide-on-med-and-down">
           <li><a href="/repositories">Repositories</a></li>
           <li><a href="/projects">Projects</a></li>
         </ul>
       </div>
    </nav>

    <% flash.each do |type, msg| %>
      <div class="flash-message" style="display: none">
        <%= msg %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
